<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

<div class="container">
  <!-- Content here -->
  <div class="row">
  	<div class="col-md-6">
  		<div class="row justify-content-md-center">
  			<h1>Sms checker</h1>
		</div>
	<form action="{{ url_for('cek') }}" method="POST">
	  	<div class="form-group">
		    <label for="sms">Input your sms</label>
	        <textarea class="form-control" name="sms" id="sms" rows="5" aria-describedby="emailHelp" placeholder="Enter your text"></textarea>
		</div>
		<button type="button" class="btn btn-primary" id="check">Check</button>
	</form>
		<div class="row justify-content-md-center">
			<div id="loading"></div>  		
		</div>
  	</div>
  </div>

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

 
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
<script>
	$('#check').on('click', function() {
		$('#loading').html("loading...."),
		$.post('{{ url_for('cek') }}', { sms: $('#sms').val() }, 
  			  function(returnedData){
         		console.log(returnedData);
         		$('#loading').html(returnedData);
				});
	});
</script>

  </body>


</html>